<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/base.css" />
	</head>
	<body>
		<div class='container'>
			<div class='header'>2{% include header.md %}</div>
		</div>
		<hr />
		<div class='container'>
			<div class='content'>
				{{ content }}
			</div>
		</div>
		<div class='container'>
			<div class='footer'>{% include footer.md %}</div>
		</div>
	</body>
</html>
