<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>BitRot | {{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" href="/blog/atom.xml" title="Atom Feed">
    <link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="RSS Feed">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta property="og:site_name" content="BitRot" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ',' }}" />
    {% endif %}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class='wrapper'>
      <header class="entry-unrelated">
        {% include header.html %}
        {% include nav-pages.html %}
        {% include nav-blog.html %}
      </header>
      <section itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="entry-title title" itemprop="name">{{ page.title }}</h1>
        <div><span class="byline author vcard">By <a href="{{ site.google_plus }}?rel=author" itemprop="author" rel="author" class="fn">Steven Karas</a></span> <div class="share_widgets"><div class="g-plusone" data-size="medium" data-href="{{ site.url }}{{ page.url }}"></div></div></div>
        <span>on <span itemprop="datePublished" class="published" datetime="{{ page.date }}">{{ page.date | date_to_string }}</span></span>
        <div class="content entry-content" itemprop="articleBody">
            {{ content | replace: "<h1 id='table_of_contents'>Table of Contents</h1>", "<strong>Table of Contents:</strong>" | replace: "<ul style='list-style: none;'>", "<ul class='toc' id='toc'>" }}
        </div>
      </section>
      <footer>{% include footer.html %}</footer>
    </div>
    <script type="text/javascript">{% include js/scale.fix.js %}</script>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    {% include analytics.html %}
    <script type="text/javascript">
var stylesheet = document.createElement('link');
stylesheet.href = '/css/combined.css';
stylesheet.rel = 'stylesheet';
stylesheet.type = 'text/css';
document.getElementsByTagName('head')[0].appendChild(stylesheet);
    </script>
  </body>
</html>
<noscript><link rel="stylesheet" href="/css/combined.css"></noscript>
